body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box {
    margin: 20px;
    display: block;
    transform: translateX(-300%);
}

.box-animation {
    animation: box-animation 2s linear 0.1s 1;
}

@keyframes box-animation {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0);
    }
}

.hidden {
    display: none;
}
