* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
}

.container {
  margin: 0 auto;
}

.header-sec {
  background-color: orange;
  text-align: center;
  margin: 5px 5px 5px 10px;
  height: 100px;
}

.side-sec {
  background-color: green;
  float: left;
  width: 35%;
  height: 600px;
  text-align: left;
  margin: 0px 0px 5px 10px;
}

.main-sec {
  background-color: purple;
  float: right;
  width: calc(65% - 20px);
  height: 600px;
  text-align: right;
  margin: 0px 5px 5px 0px;
}

.footer-sec {
  background-color: rgb(59, 46, 179);
  text-align: center;
  margin: 0px 5px 5px 10px;
  height: 100px;
}

.container p {
  padding-top: 30px;
}

.clr {
  clear: both;
}

@media (max-width: 769px) {
  .side-sec {
    display: none;
  }

  .main-sec {
    width: calc(100% - 15px);
    text-align: center;
    padding-top: 150px;
  }
}
