* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Antique Soft', serif;
}

header {
    background-color: rgba(32, 221, 190, 0.664);
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: royalblue;
}

#navbar {
    overflow: hidden;
    background-color: lightsalmon;
    position: sticky;
    top: 0;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #04aa6d;
    color: white;
}

aside {
    float: left;
    width: 30%;
    height: 80%;
    background: rgb(194, 160, 194, 0.655);
    padding: 20px 10px;
    margin-bottom: 1px;
}

aside ul {
    padding: 10px;
}
aside ul li {
    padding: 25px 5px;
    margin: 20px 0px;
    height: 50px;
    list-style: none;
}

main {
    float: left;
    padding: 20px;
    width: 70%;
    background: url('https://www.grandviewoutdoors.com/uploads/images/_facebook/red-morning-sky.jpg')
        no-repeat center center/cover;
    background-blend-mode: overlay;
    height: 80%;
}

h1 {
    font-family: 'Zen Antique', serif;
}
p {
    font-family: 'Merriweather', serif;
}

aside ul li > * {
    width: 120px;
    height: 40px;
    border-radius: 22px;
    border-style: none;
    background-color: #098ed7;
}
