.custom-button {
    /* padding: 12px 50px; */
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    height:50px;
    width:200px;
    border:1px solid black
}

.custom-button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}