.dice-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 39%;
  transform: translateY(-50%);
}
.dice-container > img {
  height: 6rem;
  margin: 1rem 0;
  box-shadow: 0px 10px 60px rgb(0 0 0 / 10%);
}
