* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

input {
    margin: 40px 30px 20px;
    font-size: 1.5rem;
    width: 2rem;
}

p {
    margin: auto 140px auto;
}
