* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212129;
    /* color: #212529; */
    background-color: #fff;
}

.m-3 {
    margin: 1rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.w-25 {
    width: 25%;
}

.p-3 {
    padding: 1rem;
}

.alert-danger {
    /* color: #721c24; */
    color: #781c84;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
}

.d-flex {
    display: flex;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.h3,
h3 {
    font-size: 1.75rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #6cd62f;
    border-color: #6cd62f;
    /* border-color: #007bff; */
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
}

a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

a {
    /* color: #007bff; */
    color: #6cd62f;
    text-decoration: none;
    background-color: transparent;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
