* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  background-color: peru;
  display: flex;
  /* flex-wrap: wrap; */
  /* Align items horizontal */
  justify-content: space-evenly;
  /*  
            OPTIONS:
            flex-start 
            flex-end 
            center
            space-between
            space-around
            space-evenly 
        */
  height: 600px;
  /* Align items vertical (must be height) */
  align-items: baseline;
  /*  
            OPTIONS:
            flex-start 
            flex-end 
            center
            baseline
            stretch
        */
  /* Align items vertical where extra space */
  align-content: space-between;
  /*  
            OPTIONS:
            flex-start 
            flex-end 
            center
            space-between
            space-around
            stretch
        */
}

.item-1 {
  order: 3;
}

.item-2 {
  /* Align single item vertical */
  align-self: center;
  /* 
            OPTIONS:
            flex-start
            flex-end
            center
            baseline
            stretch;
         */
  order: 2;
}

.item-3 {
  order: 1;
}

.item {
  background: #f4f4f4;
  border: #ccc solid 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  flex: 1;
}
