body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: violet;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

img {
    min-width: 500px;
    min-height: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 30px auto;
}

.link {
    text-decoration: none;
    color: orange;
    margin-right: 1rem;
    font-weight: 500;
}

.btn {
    width: 10rem;
    height: 2rem;
    margin: 10px;
    font-size: 1.3em;
    border-radius: 5px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.box-show {
    display: block;
    width: 70vmin;
    height: 70vmin;
    background-color: yellowgreen;
}

.box-hide {
    display: none;
}
