* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3em;
}

.container {
    width: 100%;
    margin: 5% auto 0;
    position: relative;
}

.container * {
    margin-bottom: 2.2em;
    text-align: center;
    margin: 0 auto 2.2em;
}

.question {
    border: 2px solid black;
    width: 1.5em;
    font: 400 1.5em/1.5em serif;
}

.input-message {
    font-weight: 600;
    color: black;
}

.input-message--correct {
    color: green;
}

.input-message--incorrect {
    color: red;
}
