<html>

    <head>
        <title>Weather</title>
        <link rel='icon' href='/img/weather.png' />
        <link rel='stylesheet' href='/css/styles.css' />
    </head>

    <body>
        <div class='main-content'>
            <header>
                <h1>{{title}}</h1>

                <a href='/drinks'>Go get a drink</a>
            </header>
        </div>

    </body>

</html>