.App {
    margin: 3rem;
    font-size: 1.4rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.done {
    text-decoration: line-through;
}

.active {
    font-weight: 600;
}
