form {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0.8rem 0;
}

.field-label {
    display: block;
    margin: 0 0 0.28571429rem 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.4em;
    font-weight: 600;
    width: 8rem;
}

.field-input {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: 0;
    line-height: 1.2em;
    padding: 0.7em 1em;
    font-size: 1em;
    background: #fff;
    border: 3px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;

    width: 25rem;
    vertical-align: top;
}

.field-button {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
    outline: 0;
    line-height: 1.2em;
    padding: 0.7em 1em;
    font-size: 1em;
    background: rgb(59, 236, 213);
    border: 3px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;

    width: 7rem;
    vertical-align: top;
}

.field-button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0.8rem 0;
}

input:disabled,
textarea:disabled {
    background: #bbb;
}
