* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  background-color: lightyellow;
  display: flex;
  height: 400px;
  justify-content: flex-end;
  align-items: flex-end;
}

.item {
  width: 100px;
  height: 100px;
  align-self: flex-end;
}

.item-1 {
  background: green;
}

.item-2 {
  background: blue;
}

.item-3 {
  background: red;
}
