* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: yellow;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  border-bottom: #333;
  width: 100vw;
  height: 100px;
  margin: 0 auto;
  padding: 20px 50px;
  font-size: 28px;
}

.item {
  align-self: center;
  width: 200px;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: black 3px solid;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.item:hover:before {
  transform: translateX(0);
}

.item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  border-bottom: black 3px solid;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
}

.item:hover:after {
  transform: translateX(0);
}
