* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: chocolate;
}

.navbar-item,
.link-item {
    margin: 0.8rem;
}
